/* Links */
a {
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  color: var(--color-primary);
  font-size: inherit;
  transition: all 0.2s;
}

a svg, a p {
  transition: all .2s;
}

a:hover p {
  transform: translateX(-2px);
}
a:hover svg {
  transform: translateX(2px);
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}

/* Flex */
.flex {
  display: flex;
  align-items: center;
}

/*Float*/
.float {
  position: absolute !important;
  right: 100px;
  bottom: 100px;
  z-index: 1000;
  font-size: 20px !important;
}

/* Info Icon */
.info-icon {
  display: flex;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
  font-size: 12px;
  color: var(--color-primary);
  transition: all .3s;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 5000;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.info-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
}