.banner {
  display: flex;
  gap: 100px;
}

.banner-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  align-content: center;
  width: auto;
}

.banner-icon {
  width: 25px;
  height: 25px;
}

.obstacle {
  background-color: var(--color-primary);
}

.path {
  background-color: rgb(255, 254, 106);
}